<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery</title>
  <link rel="stylesheet/less" type="text/css" href="css/styles.less" />
  <script type="text/javascript">
      less = {
          env: "development", // or "production"
      };
  </script>  
  <script src="lib/lessjs/less-1.3.3.min.js"></script>

  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>

  
</head>
<body ng-controller="PhoneListCtrl">

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <!--Sidebar content-->

      <button class="action" href="" ng-click="predicate = 'title'; reverse=!reverse">Name</button>
      <button class="action" href ng-click="predicate = 'date'; reverse=!reverse">Date</button>

      </div>
      <div class="span10">
        <!--Body content-->

        <ul class="phones">
          <li ng-repeat="phone in phones | filter:query | orderBy:predicate:reverse">
            {{phone.title}} - {{phone.date}} 
            <p>{{phone.url}}</p>
          </li>
        </ul>

      </div>
    </div>
  </div>

</body>
</html>
